@media (min-width: 320px) {

    body{
        padding: 0;
        margin: 0;
        margin-top: 100px;
    }
    header{
        background-color: gray;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }
    main{
    }
    footer{
        width: 100%;
        left: 0;
        bottom: 0;
        position: fixed;
        background-color: gray;
    }


  }

  @media (min-width: 481px) {
    body{
        columns: 2;
    }
    

  }

  @media (min-width: 769px) {
    body{
        columns: 3;
    }
    
    h4{
        border:solid red;
        width: 100%;
    
    }

  }