body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


@media (min-width: 320px) and (max-width: 479px){

    body{
        padding: 0;
        margin: 0;
        margin-top: 100px;
    }

    .articleboxbild{
        border: solid red;

        width: 33%;

    }

    header{
        background-color: rgb(38, 0, 252);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
    main{

    }

    h4{
        text-align: center;
    }
    .articlebox{
        border: 2px solid red;
        text-align: center;
    
    }

    footer{
        width: 100%;
        left: 0;
        bottom: 0;
        position: absolute;
        background-color: gray;
    }


  }

  @media (min-width: 480px) and (max-width: 768px) {
    body{
        background-color: rgb(0, 128, 17);
        padding: 0;
        margin: 0;
        margin-top: 15%;
        height: 100vh;
    }
    
    header{
        background-color: rgb(38, 0, 252);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        
    }

    .articleboxbild{
        border: solid red;
        width: 33%;

    }
    section{
        padding: 0;
        margin: 0;
        position: relative;
    }
    h4{
        text-align: center;
        border:solid red;
        bottom: 50px;
    }



    article{
        position: relative;
        width: 100%;

    }

    .articlebox{
        border: 1px solid red;
        text-align: center;
        margin: 0;
        padding: 0;
            
    }

    
    #articlebox1{
        width: 50%;
        right: 0;
        position: relative;

    }
    #articlebox2{
        left: 50%;
        width: 50%;
        position: relative;
    }

    #articlebox3{
        width: 50%;
        position: relative;
    }
    .footertext{
        margin: 0;
        padding: 0;
    }
    footer{
        width: 100%;
        left: 0;
        bottom: 0;
        position: absolute;
        background-color: gray;
    }

  }

  @media (min-width: 768px) {
    body{
        background-color: aqua;
        padding: 0;
        margin: 0;
        margin-top: 100px;
    }

    .articleboxbild{
        border: solid red;

        width: 33%;

    }

    header{
        background-color: rgb(38, 0, 252);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        margin: 0;
    }
    h4{
        text-align: center;
        border:solid rgb(255, 0, 255);
        
    
    }
    article{
        margin: 0;
        padding: 0;
        background-color: orange;

        position: relative;
    }


    .articlebox{
        border: solid red;
        text-align: center;
        margin-top: 2% 0 0 0;
        padding: 0;
    
    }

    #articlebox1{
        width: 30%;
        left: 0;
        position: absolute;

    }
    #articlebox2{
        left: 35%;
        width: 30%;
        position: absolute;
    }

    #articlebox3{
        width: 30%;
        right: 0;
        position: absolute;

    }
    .footertext{
        margin: 0;
        padding: 0;
    }
    footer{
        width: 100%;
        left: 0;
        bottom: 0;
        position: absolute;
        background-color: gray;
    }

  }