
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#minhemsida{
    margin-top: 0;
    
}

header{
    background-color: hsla(135, 89%, 29%, 0.952);
    justify-content: center;
    text-align: center;   
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    
}

.navbtns {
    margin-bottom: 20px;
}

.navbtns:hover{
    color: red;
    
}

main{
    margin-top: 100px;
}


.sidenav{
    position: fixed;
    border: solid red;   
    height: 100px;
    width: 100px;
}

#datorbild1{
    height: 100px;
    width: 100px;
}

.article1 {
    margin-left: 120px;
}

footer{
    background-color: gray;
    height: 100px;
    width: 100%;
    border: solid yellow;
    margin-left: 0px;
    margin-top: auto;
    text-align: center;

}